@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: 'Inter ', sans-serif;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color:  #0F0F0F;
  background-color: #f5f5f5;
  font-weight: 400;
  line-height: 1.2;
}

.wrapper > main {
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.header {
    
}
.header__container {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  opacity: 0.95;
}
.header__btns {
    max-width: 350px;
    width: 100%;
    display: flex;
    border-radius: 4px;
    border: 2px solid rgb(224, 186, 68);
    align-items: center;
    overflow: hidden;
    padding-right: 2px;
}
.header__btn-date {
    max-width: 195px;
    width: 100%;
    height: 23px;
    padding: 21px 33px;
    display: flex;
    
}
.header__btn-start {
    max-width: 151px;
    width: 100%;
    height: 61px;
    background: -webkit-linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 28%);
    background: -moz-linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 28%);
    background: linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 28%);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0F0F0F;
}
.header__social a {
    width: 40px;
}
.header__social a  img:hover{
    width: 45px;
    height: 45px;
}
.header__social {
    display: inline-flex;
    gap: 20px;
}
.header__social a img {
    width: 100%;
    transition: all ease-in-out 0.2s;
}
.hero {
    margin-top: 50px;
    position: relative;
}
.hide , .hidden{
    display: none;
}
.modal.show {
    display: block;
}

.hero__box {
    display: flex;
    align-items: center;     
    z-index: 2;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 10px;
    
}
.hero__content {
    max-width: 700px;
    position: relative;
    z-index: 5;
}
.hero-title {
    font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  background: -webkit-linear-gradient(45deg, rgb(48, 67, 211) 56%, rgb(202, 235, 236));
  background: -moz-linear-gradient(45deg, rgb(48, 67, 211) 56%, rgb(202, 235, 236));
  background: linear-gradient(45deg, rgb(48, 67, 211) 56%, rgb(202, 235, 236));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2.hero-title {
    margin-top: 20px;
    margin-left: 30px;
}

.hero-subtitle {   
    margin-top: 50px;  
    margin-bottom: 20px;  
}
.hero-subtitle {
    position: relative;
    padding-left: 10px;
}
.hero-subtitle::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: rgb(224, 186, 68);
    top: 0;
    left: 0;
}
.hero__content p {
    max-width: 550px;
    line-height: 26px;
    letter-spacing: 0.5px;
    font-size: 24px;
}
.hero__content p:last-child {
    margin-top: 20px;

}
.hero__img {
    max-width: 1100px;
  position: absolute;
  right: 0;
}
.hero__img img{
    width: 100%;
}
.hero-btn {
    max-width: 300px;
    width: 100%;
    height: 80px;
    margin-top: 80px;
    font-size: 28px;
    letter-spacing: 1.35px;
    background: -webkit-linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 28%);
    background: -moz-linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 28%);
    background: linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 28%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0F0F0F;
    transition: all ease-in-out 0.2s;
}
.hero-btn:hover {
    background: -webkit-linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 70%);
    background: -moz-linear-gradient(45deg, rgb(235, 242, 132), #e0ba44 70%);
    background: linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 70%);
    -webkit-box-shadow: 5px -1px 8px 0px rgba(165, 162, 51, 0.54);
    -moz-box-shadow: 5px -1px 8px 0px rgba(165, 162, 51, 0.54);
    box-shadow: 5px -1px 8px 0px rgba(165, 162, 51, 0.54);

}
.hero-bg__bottom {
    width: 100%;
    background-color: #101010;
    filter: blur(10px);
    height: 60px;
  position: relative;
  z-index: 5;
  top: -30px;
}
.hero__insta {
    display: flex;
    background-color: #fff;
    padding: 10px 8px;
    gap: 5px;
    border-radius: 4px;
    position: absolute;
    bottom: 15%;
    right: 15%;
}
.title {
    text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  background: -webkit-linear-gradient(45deg, rgb(46, 63, 186) 46%, rgb(202, 235, 236));
  background: -moz-linear-gradient(45deg, rgb(46, 63, 186) 46%, rgb(202, 235, 236));
  background: linear-gradient(45deg, rgb(46, 63, 186) 46%, rgb(202, 235, 236));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    transition: all ease-in-out 0.2s;
}
.title:hover {
    background: -webkit-linear-gradient(45deg, rgb(46, 63, 186) 76%, rgb(202, 235, 236));
    background: -moz-linear-gradient(45deg, rgb(46, 63, 186) 76%, rgb(202, 235, 236));
    background: linear-gradient(45deg, rgb(46, 63, 186) 76%, rgb(202, 235, 236));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.marathon__container {
    position: relative;
    padding-bottom: 50px;
    background-image: url('../img/dollar-157901_1280.svg');
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position-x: right -100px;
}
.marathon__title {
    margin-top: 100px;
}
.marathon__title-text {
    font-style: italic;
    color:rgb(103, 103, 240);
    text-align: center;    
    font-weight: 500;
    line-height: 53px; 
    font-size: 40px;
}
.marathon__bg {
    background-image: url('../img/mara-bg.png');
    background-size: cover;
    height: 300px;
    width: 100%;
    filter: blur(27px);
    position: absolute;
}
.marathon__items {
    max-width: 1050px;
    margin: 40px auto 0;
    display: grid;
  grid-template-columns: repeat(3,auto);
  column-gap: 20px;
  row-gap: 40px;
  
}
.marathon__item {
    max-width: 300px;
    display: flex;
    gap: 10px;
}
.marathon__item-img {
    max-width: 80px;
}
.marathon__item-img img {
    width: 100%;
}
.marathon__item p {
    line-height: 26px;
    letter-spacing: 0.5px;
}
.marathon__btn {   
    margin: 50px auto 0;
}
.work__container {
    max-width: 1440px;
    margin: 100px auto 0;
}
.work__list {    
    margin-top: 30px;
    position: relative;
    z-index: 2;
}
.work__box {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    font-size: 20px;
}
.work__list li+li {
    margin-top: 20px;
}
.work-info {
    font-weight: 700;
}
.work-color {
    margin-top: 25px;
    padding: 20px 10px;
    border: 2px solid #e0ba44;
    border-radius: 10px;
    text-align: center;
}
.work-btn.hero-btn {
    margin-top: 30px;
}
.work__img {
    max-width: 577px;
    width: 100%;
    overflow: hidden;
}
.work__img img {
    width: 100%;
    transition: transform ease-in-out 0.2s;
}
.work__img:hover img {
    transform: scale(1.02);
}
.result {
    background: -webkit-linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 30%);
    background: -moz-linear-gradient(45deg, rgb(235, 242, 132), #e0ba44 30%);
    background: linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 30%);
    
    margin-top: 100px;
    position: relative;
}
.result::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../img/board-2434016_1280.jpg');
    background-size: cover;
    opacity: 0.15;
    background-position: center;
}
.result__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 20px;
}
.result__box {
    margin-top: 30px;
    display: flex;
    position: relative;
    z-index: 2;
}
.result__content {
    font-size: 20px;
}
.result__content {
    max-width: 750px;
    height: inherit;
    margin-top: 20px;
    position: relative;
    padding-left: 20px;
}
.result__content::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgb(46, 63, 186);
    top: 0;
    left: 0;
}
.result__content p+p {
    margin-top: 20px;
}
.result__content p {
    position: relative;
}
.result__content p::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: rgb(46, 63, 186);
    position: absolute;
    top: 5px;
    left: -26px;
    transform: rotate(45deg);
}
.result__btn.hero-btn {
    margin-top: 0;
}
.result__btns-price {
    width: 280px;
}
.result__btns {
    width: fit-content;
    padding: 20px;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
}
.price-all {   
    font-size: 24px;
}
.price {
    text-decoration: line-through;
}
.discont {
    text-decoration: none;
}
.sale-price, .discont {
    font-weight: 700;
    color: red;
}
.sale-price {
    font-size: 32px;
}
.result__img {
    max-width: 550px;
    width: 100%;
    margin-right: 50px;
}
.result__img img {
    width: 100%;
}
.work {
    background-image: url('../img/euro-3717536_1280-removebg-preview.svg');
   background-repeat: no-repeat;
    background-size: 50% 50%;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal__dialog {
    max-width: 550px;
    margin: 40px auto;
  }
  .modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    max-height: 80vh;
    overflow-y: auto;
  }
  .modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .modal__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
    background: -webkit-linear-gradient(45deg, rgb(46, 63, 186) 46%, rgb(202, 235, 236));
    background: -moz-linear-gradient(45deg, rgb(46, 63, 186) 46%, rgb(202, 235, 236));
    background: linear-gradient(45deg, rgb(46, 63, 186) 46%, rgb(202, 235, 236));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
  }
  .modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    -webkit-box-shadow: 5px -1px 8px 1px rgba(165, 162, 51, 0.54);
    -moz-box-shadow: 5px -1px 8px 1px rgba(165, 162, 51, 0.54);
    box-shadow: 5px -1px 8px 1px rgba(165, 162, 51, 0.54);
    border: none;
    font-size: 18px;
    padding: 0 20px;
    outline: none;
    border-radius: 4px;
  }
  .modal .btn {
    height: 40px;
    display: block;
    width: 250px;
    margin: 0 auto;
    background: -webkit-linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 28%);
    background: -moz-linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 28%);
    background: linear-gradient(45deg, rgb(235, 242, 132), rgb(224, 186, 68) 28%);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }

@media (max-width:1500px) {
    .hero__img {
        max-width: 800px;
    }
    .hero__box {
        align-items: baseline;
    }
    .hero__content {
        padding-left: 30px;
    }
    .header__container {
        padding: 50px 20px 0;
    }
    .work__container {
        padding-left: 30px;
    }
    
}
@media (max-width:1300px) {
    .hero__img {
        right: -80px;
    }
}
@media (max-width:1160px) {
    .hero__img {
        max-width: 700px;
        right: -100px;
    }
    .result__img {
        max-width: 500px;
    }
}
@media (max-width:1100px) {
    .hero__content {
        max-width: 630px;
    }
    .marathon__container {
        padding: 0 20px 50px;
    }
}
@media (max-width:1050px) {
    .hero__img {
        right: -180px;
    }
    .work__list {
        max-width: 600px;
    }
    .result__img {
        max-width: 450px;
        margin-right: 30px;
    }
}
@media (max-width:900px) {
    .work__list {
        flex: 100%;
    }
    .work {
        background-size: 30% 30%;
    }
}
@media (max-width:798px) {
    .hero-title {
        font-size: 35px;
        line-height: 40px;
        background: -webkit-linear-gradient(45deg, rgb(46, 63, 186) 76%, rgb(202, 235, 236));
        background: -moz-linear-gradient(45deg, rgb(46, 63, 186) 76%, rgb(202, 235, 236));
        background: linear-gradient(45deg, rgb(46, 63, 186) 76%, rgb(202, 235, 236));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .hero__img {
        right: -280px;
    }
    .hero__content {
        max-width: 540px;
    }
    .title {
        background: -webkit-linear-gradient(45deg, rgb(46, 63, 186) 76%, rgb(202, 235, 236));
        background: -moz-linear-gradient(45deg, rgb(46, 63, 186) 76%, rgb(202, 235, 236));
        background: linear-gradient(45deg, rgb(46, 63, 186) 76%, rgb(202, 235, 236));
          background-clip: border-box;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: 45px;
        line-height: 50px;
    }
   
    .marathon__title-text {
        font-size: 28px;
    }
    .marathon__item-img {
        width: 40px;
    }
    .marathon__item-img img {
        width: 40px;
      }
      .marathon__item p {
        line-height: 22px;
      }
}
@media (max-width:700px) {
    .hero__img {
        background-color: #fff;
        opacity: 0.6;
    }
    .marathon__items {
        column-gap: 15px;
        row-gap: 30px;
    }
    .work__img {
        position: absolute;
        background-color: #fff;
        opacity: 0.4;
        top: 0;
        max-width: 657px;
        left: 0;
    }
    .work__box {
        position: relative;
    }
    .result__img {
        display: none;
    }
    .modal__dialog {
        max-width: 500px;
    }
    .modal__content {
        width: inherit;
    }
    .modal .btn {
        font-weight: 400;
    }
}
@media (max-width:650px) {
    .work__img {
        height: 500px;
    }
    .work__img img {
        width: 120%;
    }
    .result__btns {
        width: 90%;
    }
    .hero-btn {
        margin-top: 50px;
    }
    .marathon__items {
        grid-template-columns: repeat(2,auto);
    }
    .work__container {
        margin: 50px auto 0;
    }
}
@media (max-width:600px) {
    .header__btns {
        width: 250px;
    }
    .header__btn-start {
        width: 120px;
        height: 40px;
    }
    .header__btn-date {
        width: 90px;
        height: 18px;
        padding: 15px;
    }
    .header__social {
        gap: 10px;
    }
    .hero-btn {
        max-width: 200px;
        height: 60px;
        font-size: 20px;
    }
    .marathon__title {
        margin-top: 50px;
    }
    .work__container {
        padding: 0 10px;
    }
    .work__list {
        padding: 0 10px;
    }
    .hero__img {
        opacity: 0.4;
    }
    .result__btns {
        padding: 10px;
    }
    .hero__content {
        padding-left: 20px;
      }
    
}
@media (max-width:560px) {
    .work__img {
        height: 450px;
    }
    .modal__input {
        margin: 10px auto 10px auto;
    }
}
@media (max-width:500px) {
    .hero__img img {
        width: 85%;
    }
    .title {
        font-size: 35px;
        line-height: 40px;
    }
    .marathon__title-text {
        font-size: 24px;
    }
    .work__img {
        display: none;
    }
    .modal__dialog {
        max-width: 400px;
    }
    .modal__content {
        padding: 40px 20px;
    }
}
@media (max-width:450px) {
    .marathon__item p {
        font-size: 16px;
        line-height: 18px;
    }
    .marathon__items {
        column-gap: 5px;
        row-gap: 20px;
    }
    .hero-btn {
        margin-top: 30px;
    }
    .hero {
        margin-top: 30px;
    }
    .hero__content p {
        font-size: 22px;
        line-height: 24px;
    }
    .work__list, .result__content {
        font-size: 18px;
    }
    .work__box, .result__box {
        margin-top: 10px; 
    }
    .result__btns {
        margin: 30px auto 0;
    }
    .price-all {
        font-size: 20px;
    }
    .sale-price {
        font-size: 30px;
        margin-top: 10px;
      }
}
@media (max-width:420px) {
    .result__info {
        max-width: 370px;
    }
    .marathon__item-img img {
        width: 30px;
      }
}
@media (max-width:400px) {
    .marathon__item-img {
        max-width: 30px;
    }
    .result {
        margin-top: 50px;
    }
    .marathon__container {
        padding: 0 10px 30px;
    }
    .header__container {
        font-size: 14px;
        padding: 50px 10px 0;
    }
    .header__btns {
        width: 230px;
    }
    .result__btn.hero-btn {
        width: 230px;
    }
    .result__content p {
        max-width: 300px;
    }
    .result__btns {
        max-width: 320px;
    }
    .modal__dialog {
        max-width: 350px;
    }
    .modal__input {
        width: 250px;
    }
}
@media (max-width:380px) {
    .hero-title {
        font-size: 30px;
        line-height: 32px;
    }
    .hero__img img {
        width: 74%;
    }
    .marathon__items {
        margin: 20px auto 0;
    }
    .title {
        font-size: 30px;
        line-height: 32px;
    }
    .marathon__title-text {
        font-size: 20px;
        line-height: 24px;
    }
}
@media (max-width:360px) {
    .marathon__item-img {
        max-width: 20px;
    }
    .result__btns {
        max-width: 300px;
    }
    .header__social a {
        width: 30px;
      } 
}